.ctrl {
    padding-left: 15px;;
}

.ctrl__wrapper {
    display: flex;
    margin-top: 5px;
}

.ctrl__wrapper:first-of-type {
    margin-top: 0;
}

.ctrl__button {
    margin-left: 5px;
}

.ctrl__button:first-of-type {
    margin-left: 0;
}

.ctrl__input {
    margin-left: 5px;
}

.ctrl__input:first-of-type {
    margin-left: 0;
}
